11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [19]:
# zoo.py

def hours():
    print("Open 9-5 daily")

# Interactive Interpreter

>>> import zoo
>>> zoo.hours()
Open 9-5 daily

SyntaxError: invalid syntax (3519079932.py, line 8)

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [ ]:
# Interactive Interpreter

>>> import zoo as menagerie
>>> menagerie.hours()
Open 9-5 daily

16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3

connection = sqlite3.connect('books.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')

connection.commit()
connection.close()
print("Database and table created successfully.")

16.6 Select and print the title column from the book table in alphabetical order.

In [ ]:
import sqlite3

connection = sqlite3.connect('books.db')
cursor = connection.cursor()
cursor.execute('SELECT title FROM books ORDER BY title ASC')
titles = cursor.fetchall()

for title in titles:
    print(title[0])

connection.close()

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, select

engine = create_engine('sqlite:///books.db')
metadata = MetaData()
metadata.reflect(bind=engine)
book_table = metadata.tables['books']

query = select(book_table.c.title).order_by(book_table.c.title)

with engine.connect() as connection:
    result = connection.execute(query)
    for row in result:
        print(row.title)